BODY{background-color : #fdfffd;
  font-family : Verdana;
  font-size : 11pt;
  color : #437543;
  margin: 20px 0px 0px 5px;

}

/*--リンク色--*/

A:LINK{color:#38869c;text-decoration : underline;}
A:VISITED{color:#a85c96;text-decoration : underline;}
A:HOVER,A:ACTIVE{color : #88d6dc;text-decoration : underline;}



/*--ﾃｰﾌﾞﾙ--*/
TABLE{
  font-size : 10pt;
  line-height: 120%;
}


P.menu{
  line-height: 130%;
  padding: 20px;
}

/*--線色--*/
HR {
   border-width: 1px 0px 0px 0px; /* 太さ */
   border-style: solid; /* 線種 */
   border-color: #83a583; /* 線色 */
   height: 1px; /* 高さ */
}

/*--見出し用--*/
H2{
	color : #335533;
	line-height: 100%;
}

